@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body
{
text-align: center;
background: #fff;
}

menu {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.05);
    z-index:1000;
}

.logo {
    height: 60px;
    line-height: 60px;
    color: #12334e;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
    cursor: pointer;
    padding-left: 20px;
    text-decoration: none;
}

#toggle {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: #9051ff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

#toggle::before {
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: #fff;
    transform: translateY(-5px);
    transition: 0.2s;

}

#toggle::after {
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: #fff;
    transform: translateY(5px);
    transition: 0.2s;

}

#toggle.active::before {
    transform: translateY(0px) rotate(45deg);
}

#toggle.active::after {
    transform: translateY(0px) rotate(-45deg);
}

#toggle.active {
    background: #f7226a;
}

#navbar {
    position: relative;
    height: 60px;
    right: 60px;
    background: #fff;
    transition: 0.5s;
    width: 0px;
    overflow: hidden;
}

#navbar.active {
    width: 700px;
}

#navbar ul {
    position: relative;
    display: flex;
    flex-direction: row;
}

#navbar ul li {
    list-style: none;
}

#navbar ul li a {
    color: #12334e;
    height: 60px;
    line-height: 60px;
    display: inline-block;
    text-decoration: none;
    font-size: 1.2em;
    padding: 0 15px;
    letter-spacing: 2px;
}

#navbar ul li a:hover {
    color: #fff;
    background: #9051ff;
}
h1
{
width: 100%;
font-size: 60px;
margin-bottom: 20px;
}

h4
{
    width: 100%;
    font-size: 30px;
    margin-bottom: 40px;
}
.button {
    align-items: center;
    justify-content: center;
    justify-self: start;
    text-overflow: clip;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 13px;
    cursor: pointer;
    background-color: #E4F9F5;
    font-family: 'Courier New', Courier, monospace;

}
.button1
{
    margin-bottom: 20px;
    border-radius: 15px;
}
.button:hover
{
    background-color:rgba(232, 174, 174, 0.3);

}
.top-container
{
    background-color: #E4F9F5;
    margin-top: 50px;
    padding:100px 0 100px 0 ;
}
.middle-container
{
    box-sizing: border-box;
}
.img2
{
    width: 10%;
    float: right;
    display: flex;
}
.img5
{
    width: 10%;
    float: left;
}
.img4
{
    width:200px;
    height:250px;
    float: left;
    margin: 0 40px 40px 40px;
}
.about
{
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: white;
    background-color: black;

}
.row
{
    margin: 40px;
}
p spen
{
    font-weight: bold;
    font-size: larger;
}
p{
    font-weight: 100;
}
h3
{
    float: left;
    font-weight: bold;
}
.para1
{
    text-align: left;

}
.flip-card {
    background-color: transparent;
    width: 700px;
    height: 600px;
    margin-left: 350px;
    padding-top: 150px;
}
.awardimg img
{
    width: 5%;
    margin-top: 10px;
    display: inline-block;
    left: -10px;

}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #B0AD87;
    color: black;
}

.flip-card-back {
    transform: rotateY(180deg);
    place-items: center;
    display: grid;
    background: #E4F9F5;
}
.wrapper .button2 {
    display: inline-block;
    height: 60px;
    width: 59px;
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px #000;
    transition: all 0.3s ease-out;
}
.button2 a 
{
    text-decoration: none;
    color: #000;
}

.wrapper .button2:hover {
    width: 200px;
}

.wrapper .button2 .icon {
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
}
.wrapper .button2:nth-child(1):hover .icon {
    background: #4267B2;
    margin-right: 15px;
}

.wrapper .button2:nth-child(2):hover .icon {
    background: black;
    margin-left: -25px;
    margin-right: 15px;
}

.wrapper .button2:nth-child(3):hover .icon {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%,
            #dc2743 50%, #cc2366 75%, #bc1888 100%);
    margin-right: 5px;
}

.wrapper .button2:nth-child(4):hover .icon {
    background: #005EBF;
    margin-right: 15px;
}

.wrapper .button2:nth-child(5):hover .icon {
    background: #ff0000;
    margin-left: -5px;
    margin-right: 15px;
}

.wrapper .button2 .icon i {
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
}
.wrapper .button2:hover .icon i {
    color: #fff;
}

.wrapper .button2 span {
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    transition: all 0.3s ease-out;
}
.wrapper .button2:nth-child(1) span {
    color: #4267B2;
}

.wrapper .button2:nth-child(2) span {
    color: black;
}

.wrapper .button2:nth-child(3) span {
    color: #E1306C;
}

.wrapper .button2:nth-child(4) span {
    color: #005EBF;
}

.wrapper .button2:nth-child(5) span {
    color: #ff0000;
}
.middle-container1 {
    background-color: #E4F9F5;
    margin: 100px;
    width: 100%;
    margin-left: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}
.container{
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    gap:40px;
}
.container2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 30px;
}
.container .card1
{
    position: relative;
    width: 220px;
    height: 250px;
    background: #2A2A2A;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container2 .card1 {
    position: relative;
    width: 220px;
    height: 250px;
    background: #2A2A2A;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .card1
.percent
{
    position: relative;
    width: 150px;
    
}
.container2 .card1 .percent {
    position: relative;
    width: 150px;

}
.percent svg
{
    position: relative;
    width: 150px;
    transform: rotate(270deg);
}
.percent svg circle
{
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 2;
    stroke: #04fc43;
    transform: translate(5px,5px);
}
.percent svg circle:nth-child(2) {
    stroke: var(--clr);
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - (440 * var(--num)) /100);
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
}
@keyframes fadeIn 
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
.dot
{
    position: absolute;
    inset: 5px;
    z-index: 10;
    /*360deg / 100 = 3.6*/
    animation: animateDot 2s linear forwards;
}
@keyframes animateDot
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(calc(3.6deg * var(--num)));
    }
}
.dot::before
{
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background: var(--clr);
    border-radius: 50%;
    box-shadow: 0 0 10px var(--clr), 0 0 30px var(--clr);
}
.img3
{
    width: 30%;
    margin-top: -70px;
}
.number
{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
}
.number h2
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #933C8C;
    font-weight: 700;
    font-size: 2.5em;
}
.number h2 span
{
    font-weight: 300;
    color: #fff;
    font-size: 0.5em;
}
.number p
{
    font-weight: 300;
    font-size: 0.75em;
    letter-spacing: 2px;
    margin-top: -15px;
    margin-right: 15px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.75);
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 80%;
    margin-top: 50px;
    padding: 0 20px 20px 20px;
    background-color: #222222;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.h1
{
    color: #fff;
}
.middle-container2
{
    width: 100%;
    min-height: 100vh;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
}
article
{
    width:100%;
    padding: 20px 10%;
    
}
main.row1
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}
.col3 header.title
{
    font-family:Helvetica;
    color: #11a372;
    padding: 0px 300px 20px 20px;
}
.col3 .contents
{
    padding: 0px 30px;
    border-left: 2px solid #bababa;
}
.col3 .contents .box 
{
    position: relative;
    padding: 0 0 10px 20px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 20px;
    text-align: left;
}
.col3 .contents .box:hover
{
    box-shadow: 0px 3px 12px 0px #ccc;
    border: 1px solid transparent;
}
.col3 .contents .box::before{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: calc(100% + 22px);
    top: 0;
    background-color: #11a372;
    border: 2px solid white;
}
.box h4
{
    margin-bottom:-15px;
    margin-top: 20px;
    position: relative;
    color: #11a372;
}
.box h3
{
    margin-bottom:-10px;
    font-size: 19px;
    padding: 10px 0px 6px;
    font-family: helvetica;
    color: #444;
}
.box p
{
    margin-right: 20px;
    line-height: 1.2;
    color: #666;
    font-size: 17px;
}
@media(max-width: 768px){
    main.row1{
        grid-template-columns: 1fr;
    }
    .row .col:nth-child(2){
        margin-top: 30px;
    }
}

.portfolio
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.work
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;
    background-color: #ADA981;
}
.work .box1
{
    position:relative;
    width: 40%;
    height: 50vh;
    filter: grayscale(1);
    margin-top: 30px;
    margin-left: 85px;
}
.work .box1:hover
{
    filter: grayscale(0);
}
.work .box1 video
{
position: absolute;
top: 0;
left:0;
width: 100%;
height: 100%;
object-fit: cover;
}
.ref
{
    box-sizing: border-box;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #FAFAFA;
    width: 100%;
    height: 150vh;
}
.row3:after
{
    content: "";
    display: table;
    clear: both;
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
}
.card3
{
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 550px;
            margin: auto;
            text-align: center;
            font-family: arial;
}
.title3 {
    color: grey;
    font-size: 18px;
}
.container3
{
    margin: 20px;
    padding: 20px;
}
.container3 h2 
{
    margin-bottom: 10px;
}
.container3 .title3
{
    margin-bottom: 10px;
}
.p3
{
    margin-bottom: 10px;
    text-align: center;
    color: #000;
}